# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# Macos be like
**/.DS_Store

# Cache files for Sublime Text
**/*.tmlanguage.cache
**/*.tmPreferences.cache
**/*.stTheme.cache

# Workspace files are user-specific
**/*.sublime-workspace
**/*.sublime-project
.vscode

# Ignore build folders
**/build
build
build2
build-docs/
bin

docs/**
docs

loader/src/internal/about.hpp
loader/src/internal/resources.hpp
loader/resources/mod.json
loader/resources/version
loader/resources/blanks/rename.js
loader/resources/changelog.md
fods-catgirl-hideout.txt

# krita files too because alk is funny
**/*.kra

