# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# Default projects folder of my fork
Projects/

# Macos be like
**/.DS_Store

# Camila likes leaving sublime stuff in the repo so yeah

# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# I need to find a way to automatically remove this
Source/Cacao/pkg/uber-apk-signer.jar

# Ignore build folders
**/build

# Ignore old files
scripts/
Scratch/

# Ignore data stuff
Source/Cacao/gen/data/todo/
Source/Cacao/gen/data/Backup/
