name: Draft Release

on:
  workflow_dispatch:

jobs:
  draft:
    name: Draft Release
    runs-on: ubuntu-latest
    steps:
      - name: Download Development Release
        uses: robinraju/release-downloader@v1.8
        with:
          tag: nightly
          fileName: '*'
          tarBall: false
          zipBall: true
          out-file-path: 'dev'

      - name: Declare Version Variable
        id: ref
        shell: bash
        run: echo "version=$(unzip -p ${{ github.workspace }}/dev/geode-nightly.zip geode-sdk-geode-*/VERSION | xargs)" >> $GITHUB_OUTPUT

      - name: Move Files
        run: |
          mv dev/geode-installer-*-mac.pkg geode-installer-v${{ steps.ref.outputs.version }}-mac.pkg
          mv dev/geode-installer-*-win.exe geode-installer-v${{ steps.ref.outputs.version }}-win.exe
          mv dev/geode-*-mac.zip geode-v${{ steps.ref.outputs.version }}-mac.zip
          mv dev/geode-*-win.zip geode-v${{ steps.ref.outputs.version }}-win.zip
          mv dev/resources.zip resources.zip

      - name: Create Draft Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.ref.outputs.version }}
          name: Geode v${{ steps.ref.outputs.version }}
          body: |
            TODO before publishing:
             - mark if pre-release
             - add changelog
             - remove this
          draft: true
          files: |
            ./geode-installer-v${{ steps.ref.outputs.version }}-mac.pkg
            ./geode-installer-v${{ steps.ref.outputs.version }}-win.exe
            ./geode-v${{ steps.ref.outputs.version }}-mac.zip
            ./geode-v${{ steps.ref.outputs.version }}-win.zip
            ./resources.zip
